<div class="headerContainer">
  <img src="../../assets/logo.png" class="headerImg" />
  <div class="headerNumberContainer">
    <h4><img style="width: 30px" src="../../assets/whats.png" />WHATSAPP</h4>
    <div class="headerNumbers">
      <a
        target="_blank"
        href="https://api.whatsapp.com/send?phone=201028242712"
        style="
          font-size: 20px;
          font-weight: bold;
          text-decoration: none;
          color: rgb(71, 128, 21);
        "
        >DR. Ragab Mohamed</a
      >
      <a
        target="_blank"
        href="https://api.whatsapp.com/send?phone=201222209731"
        style="
          font-size: 20px;
          font-weight: bold;
          text-decoration: none;
          color:rgb(71, 128, 21);
        "
        >DR. Marwan Omara</a
      >
    </div>
  </div>
</div>
