<div class="homePageContainer">
  <app-header />
  <div style="position: relative">
    
      <img class="landingImg" [src]="currentImage" id="landingImg" />
   
    <div class="landingImgContainer">
      <h1>Regain Balance In Your Life</h1>
      <h5>Offering The Best PhysioTherapy In Egypt</h5>
      <button routerLink="/ChooseYourDoctor" class="landingImgButton">
        Schedule An Appointment
      </button>

      <a
        target="_blank"
        class="landingImgButton"
        href="https://maps.app.goo.gl/DDzoNKWtVWnj8HsY8"
        >Get Directions</a
      >
    </div>
  </div>

  <div class="imgsWithOverLayTextContainer">
    <div class="singleImgWithOverLayTextContainer">
      <img
        [src]="'../../assets/first.jpg'"
        style="width: 100%; height: 300px; min-width: 200px"
      />
      <div class="overLayTextContainer">
        <h1>Physio Therapy</h1>
      </div>
    </div>
    <div class="singleImgWithOverLayTextContainer">
      <img
        [src]="'../../assets/second.jpeg'"
        style="width: 100%; height: 300px; min-width: 200px"
      />
      <div class="overLayTextContainer">
        <h1>Sports Injuries</h1>
      </div>
    </div>
    <div class="singleImgWithOverLayTextContainer">
      <img
        [src]="'../../assets/third.jpg'"
        style="width: 100%; height: 300px; min-width: 200px"
      />
      <div class="overLayTextContainer">
        <h1>Concussion Managment</h1>
      </div>
    </div>
    <div class="singleImgWithOverLayTextContainer">
      <img
        [src]="'../../assets/fourth.jpg'"
        style="width: 100%; height: 300px; min-width: 200px"
      />
      <div class="overLayTextContainer">
        <h1>Vestibular Rehabilitation</h1>
      </div>
    </div>
    <div class="singleImgWithOverLayTextContainer">
      <img
        [src]="'../../assets/fifth.jpeg'"
        style="width: 100%; height: 300px; min-width: 200px"
      />
      <div class="overLayTextContainer">
        <h1>Acupuncture</h1>
      </div>
    </div>
    <div class="singleImgWithOverLayTextContainer">
      <img
        [src]="'../../assets/sixth.jpg'"
        style="width: 100%; height: 300px; min-width: 200px"
      />
      <div class="overLayTextContainer">
        <h1>Shockwave Therapy</h1>
      </div>
    </div>
  </div>
  <div class="homePageImgLeftTextRightContainer">
    <div class="homePageImgLeftCotainer">
      <img src="../../assets/square.png" />
    </div>

    <div class="homePageTextRightCotainer">
      <h1 style="font-weight: bold; font-size: 30px;text-align: center;">
        You Have Access To The Best Care
      </h1>
      <br />
      <span style="font-size: 20px; color: #575757">
        PhysioTime Centre is conveniently located and serves the entire 5Th
        Settelment area. Our goal is to provide you the best care possible for
        relief from injury or chronic illness and help you regain balance in
        your life!
      </span>
      <br /><br />
      <span style="font-size: 20px; color: #575757">
        At PhysioTime Centre we believe that everyone should have access to the
        best care regardless of prior health history or insurance. We offer a
        wide variety of treatment options including acupuncture, massage
        therapy, and spinal traction. Due to our extensive facilities, we are
        able to accommodate many patients with very little wait time.
      </span>
    </div>
  </div>

 
      <div class="overTextContainerOtherInnerDiv">
        <div class="overLayTextSelf">
          <h1>What's Getting In Your Way</h1>
          <p>
            Don’t let a painful condition or injury keep you from living your
            best life! Our treatment plans are individualized and aimed toward
            the achievement of your goals.
          </p>
          <p>
            When you arrive, one of our team will design
            a treatment plan just for you, taking into account your symptoms,
            medical history, and any health restrictions you may have.
          </p>
        </div>
        <div class="otherLandingImageIconsContainer">
          <div class="otherLandingImageIcon">
            <div class="iconImageContainer">
              <img src="../../assets/backpain.png" />
            </div>
            <span>Back Pain</span>
          </div>
          <div class="otherLandingImageIcon">
            <div class="iconImageContainer">
              <img src="../../assets/neckpain.png" />
            </div>
            <span>Neck Pain</span>
          </div>
          <div class="otherLandingImageIcon">
            <div class="iconImageContainer">
              <img src="../../assets/shoulderpain.png" />
            </div>
            <span>Shoulder Pain</span>
          </div>
          <div class="otherLandingImageIcon">
            <div class="iconImageContainer">
              <img src="../../assets/kneepain.png" />
            </div>
            <span>Knee Pain</span>
          </div>
          <div class="otherLandingImageIcon">
            <div class="iconImageContainer">
              <img src="../../assets/sportsinjuries.png" />
            </div>
            <span>Sports Injuries</span>
          </div>
          <div class="otherLandingImageIcon">
            <div class="iconImageContainer">
              <img src="../../assets/footankle.png" />
            </div>
            <span>Foot & Ankle Pain</span>
          </div>
</div>
        
        
      </div>
    
    
  
  <app-footer />
</div>
