.adminPanelContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(18 118 44);
    color: white;
    row-gap: 50px;
}
.background{
    margin-top: auto;
    width: 100%;
    min-height: 70vh;
    padding: 20px 0;
    overflow-y: auto;
    background-color: #dfdede; 
    border-radius: 100px 100px 0 0 ;
    /* background-image: url(../../assets/footer.png); */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: rgb(82, 147, 25);
  
}
.adminPanelContainer>h1{
    font-size: 3rem;
    text-align: center;
}
  .adminPanelButtonsContainer{
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 40px;
  }

.appts{
    width: 90%;
    /* padding: 20px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 50px;
    column-gap: 50px;
}

.singleAppt{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
    max-width: 300px;
    row-gap: 30px;
    background-color:#216869;
    /* color: rgb(56 21 124); */
    color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 7px 20px 8px 0 rgba(0, 0, 0, 0.2), 4px -3px 20px 0 rgba(0, 0, 0, 0.19);
}
h3{
    margin: 0;
}
.headerContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    row-gap: 20px;
}
.todayApptButton{
    width: 80%;
    max-width: 300px;
    /* border-radius: 10px; */
    font-weight: bold;
    height: 60px;
    font-size: 20px;
    color: rgb(82, 147, 25);
    border: 1px solid rgb(82, 147, 25);
    cursor: pointer;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
.cancelApptButton{
    width: 80%;
    max-width: 80px;
    height: 30px;
    font-weight: bold;
    font-size: 14px;
    color:white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: rgb(182, 10, 10);
    align-self: center;
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  .cancelApptContainer{
    display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 500px;
  background-color: white;
  border-radius: 10px;
  row-gap: 20px;
  padding: 20px;
  }
  .cancelApptContainer>img{
    width: 80%;
    max-width: 100px;
  }
  .cancelButtonsContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    
  }
  .cancelModal {
    font-weight: bold;
    font-size: 20px;
    width: 80%;
    max-width: 100px;
    height: 30px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: rgb(174, 6, 6);
  }


@media only screen and (max-width:400px) {
    .adminPanelContainer>h1{
        font-size: 2rem;
        margin-top: 100px;
        text-align: center;
    }
    .background{
        border-radius: 70px 70px 0 0 ;
    }
    
    }

/* colors */
/* green rgb(107, 195, 32); */
/* dark green rgb(82, 147, 25); */
/* dark white #dfdede; */