<div class="adminPanelContainer">
  <div class="headerContainer">
    <h1 style="text-align: center;">Scheduled Appointments</h1>
    <div class="adminPanelButtonsContainer">
      <button (click)="getTodayAppts()" class="todayApptButton" id="todayApptButton" style="font-size:16px;">
        Show Only Today Appointments
      </button>
      <button class="todayApptButton" [routerLink]="'/AddNewDays/' + doctorId">
        Add New Days
      </button>
      <button class="todayApptButton" [routerLink]="'/EditDays/' + doctorId">
        Edit Days
      </button>
    </div>
  </div>
  <div class="background">
    <div class="appts" *ngIf="!isLoading">
      <div class="singleAppt" *ngFor="let appt of reservedCopy">
        <h3>{{ "Name : " + appt.patientName }}</h3>
        <h3>{{ "Email :" + appt.patientEmail }}</h3>
        <h3>Date : {{ appt.date | date }}</h3>
        <h3>Time : {{ convertTime(appt.time) }}</h3>
        <a
          target="_blank"
          [href]="
            'https://api.whatsapp.com/send?phone=20' +
            convertPhoneNumber(appt.patientPhoneNumber)
          "
          style="
            font-size: 20px;
            font-weight: bold;
            text-decoration: none;
            color: white;
          "
          >Phone : {{ convertPhoneNumber(appt.patientPhoneNumber) }}</a
        >
        <button (click)="openCancelModal(appt._id)" class="cancelApptButton">
          Cancel
        </button>
      </div>
    </div>
    <div class="appts" *ngIf="isLoading">
      <img src="../../assets//loader2.gif" />
      
    </div>
  </div>
</div>
<div class="modal-overlay" id="cancelApptModal">
  <div class="cancelApptContainer">
    <img src="../../assets/warning.png" />
    <h3>You Are About To Cancel This Appointment!</h3>
    <div class="cancelButtonsContainer">
      <button (click)="closeCancelModal()" class="cancelModal">Close</button>
      <button
        (click)="deleteAppointment()"
        style="background-color: rgb(82, 147, 25)"
        class="cancelModal"
      >
        Cancel
      </button>
    </div>
  </div>
</div>
